{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenpaiPrint 3D</title>
    <link rel="stylesheet" href="{% static '/styles/teme.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg bg-body-purple" style=" border-radius: 15px; background: rgb(128, 39, 243);">
        <div class="container">
          <a href="{% url 'home' %}"><img src="{% static 'nameweb.png' %}" alt="Inicio"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" style=" color: white;" href="{% url 'whoarewe' %}">¿Quienes somos?</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders' %}" style=" color: white;">Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}" style=" color: white;">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}" style=" color: white;">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Footer -->
<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-facebook"></i></a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-twitter"></i></a>
      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-google"></i>
      </a>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-instagram"></i>
      </a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="http://www.linkedin.com/in/cristian-ubaldo-villafan-alvarado" role="button">
        <i class="bi bi-linkedin"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="bi bi-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
        <p>SenpaiPrint Creations 2023<br> By: Cristian Ubaldo Villafan Alvarado</p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</html>